.artist-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));

  width: 100%;
}

* {
  font-family: 'Asap', sans-serif;
}

body {
  color: white;
  background: #212121;
  margin: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}